.gridContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 600px;



}

.container{
  display: flex;
  flex-direction: column;
  gap:40px;
}

.gridClone{
  border : 1px solid  lightgrey; 

}

*{
    box-sizing: border-box;
}

.buttons button {
    width: 100px;
    height: 40px;
    font-weight: bolder;
    font-size: 14px;

}